@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.header__elements {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.header__elements__new-left {
  color: white;
  font-weight: 400;
  font-family: "Sans-Pro";
}
.header__elements .nav__links {
  display: flex;
  align-items: center;
  padding-right: 5px;
}
.header__elements a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: "Sans-Pro";
  margin-right: 30px;
}
.header__elements ul {
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
}

.main__container {
  margin-top: 100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__container__heading {
  color: white;
  margin-bottom: 30px;
}
.main__container__description {
  color: white;
  margin-bottom: 40px;
}
.main__container__banner {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header__elements {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    margin-right: 80px;
  }
  .header__elements__new-left {
    color: white;
    font-weight: 400;
    font-family: "Sans-Pro";
  }
  .header__elements .nav__links {
    display: flex;
    align-items: center;
    padding-right: 5px;
  }
  .header__elements a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: "Sans-Pro";
    margin-right: 30px;
  }
  .header__elements ul {
    list-style-type: none;
    margin-right: 50px;
    padding: 0;
  }

  .main__container {
    margin-top: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__container__heading {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 60px;
  }
  .main__container__description {
    color: white;
    margin-bottom: 40px;
    margin-right: 60px;
    margin-left: 60px;
    text-align: center;
  }
  .main__container__banner {
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    padding-right: 20px;
    width: 67%;
    height: 700px;
  }
  .main__container__banner1 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .header__elements {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    margin-right: 80px;
  }
  .header__elements__new-left {
    color: white;
    font-weight: 400;
    font-family: "Sans-Pro";
  }
  .header__elements a {
    display: none;
  }

  .main__container {
    margin-top: 10px;
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  .main__container__heading {
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
    margin-right: 20px;
  }
  .main__container__description {
    color: white;
    margin-bottom: 40px;
    margin-right: 20px;
    font-size: 12px;
    text-align: center;
  }
  .main__container__banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 200px;
  }
  .main__container__banner1 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
